body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, sans-serif;
    background-color: lightgray;
}

.download {
    display: none;
}

.GalleryPage {
    margin: 0 auto;
    width: 1240px;
}

.GalleryPage .header {
    text-align: center;
}

.row .item {
    margin: 0 15px 20px 0;
    display: inline-block;
    text-align: center;
}

.row .item:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.row .item img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.row img {
    width: 230px;
}

.sbn {
    text-align: center;
}
.sbn.top,
.sbn.bottom {
    width: 728px;
    height: 90px;
    margin: 20px auto;
}
.sbn.left,
.sbn.right {
    width: 240px;
    height: 400px;
}

.content {
    margin: 10px 0;
}

.column {
    display: inline-block;
}

.column.left, .column.right {
    width: 240px;
    vertical-align: top;
}

.column.middle {
    margin: 0 10px;
}

.categories-item,
.categories-title,
.categories-count {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-weight: normal;
}
.categories-item {
    margin-right: 10px;
}
.categories-title {
    float: left;
    background: rgba(0, 0, 0, .7);
    padding: 2px 10px 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.categories-count {
    float: left;
    background: black;
    padding: 2px 10px 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
